<mat-card class="p-4">
    <div class="row justify-content-center">
        <div class="col-10">
            <form [formGroup]="regForm" (ngSubmit)="register()">
                <h3>Register</h3>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Enter your username</mat-label>
                    <input id="uName" type="text" formControlName="uName" matInput>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input formControlName="uPass" matInput [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button type="submit" style="background-color: #198754; color:white;" mat-raised-button>Submit</button>
            </form>
        </div>
    </div>
</mat-card>